.bodyNuevo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 60px 300px auto 70px;
      grid-template-rows: 60px 300px auto 70px;
      grid-template-areas: "nav nav" "header header" "main main" "footer footer";
}

.bodyNuevo nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
}

.bodyNuevo header h1 {
  background-color: rgba(255, 255, 255, 0.354);
  border-radius: 30px;
  font-size: 34px;
}

.bodyNuevo header h2 {
  background-color: rgba(255, 255, 255, 0.354);
  border-radius: 30px;
  font-size: 24px;
}

.bodyNuevo header h3 {
  background-color: rgba(255, 255, 255, 0.354);
  border-radius: 30px;
  font-size: 20px;
}

.bodyNuevo main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bodyNuevo footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.headerNovedades {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/novedades/Summer_collection_man.jpg);
  background-size: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tituloSeasonCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #baafaf;
}

.tituloSeason {
  font-size: 30px;
  background-color: #baafaf;
}

/* SEASON HOLIDAY  SEASON HOLIDAY  SEASON HOLIDAY  SEASON HOLIDAY  SEASON HOLIDAY  SEASON HOLIDAY  SEASON HOLIDAY  SEASON HOLIDAY  SEASON HOLIDAY  SEASON HOLIDAY  SEASON HOLIDAY  SEASON HOLIDAY */
.videoHolCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.videoHol {
  width: 70%;
}

.seasonHoliday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedorTarjetaHoliday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.holCamisetaYellow {
  background-image: url(../img/novedades/holiday/camisetaHolidayYellow.jpg);
  background-position: center;
  background-size: cover;
}

.holBanadorPrintFlores {
  background-image: url(../img/novedades/holiday/banadorprintflores.jpg);
  background-position: center;
  background-size: cover;
}

.holBermudaVaquerasSFrotos {
  background-image: url(../img/novedades/holiday/bermudaVaqueraSFrotos.jpg);
  background-position: center;
  background-size: cover;
}

.holGorraAzulDelavadaCalifornia {
  background-image: url(../img/novedades/holiday/gorraAzulDelavadaCaliforniajpg.jpg);
  background-position: center;
  background-size: cover;
}

.holGorroBucketBordado {
  background-image: url(../img/novedades/holiday/gorroBucketBordado.jpg);
  background-position: center;
  background-size: cover;
}

/* TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION  TWINS COLLECTION */
.imgTwin {
  width: 70%;
}

.contenedorTarjetaTwin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.contenedorTarjetaTwinAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.contenedorTarjetaImgTwin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.TwinBlusaPlisadaGreen {
  background-image: url(../img/novedades/twin/blusaPlisadaGreen.jpg);
  background-position: center;
  background-size: cover;
}

.TwinPantalonPlisadoGreen {
  background-image: url(../img/novedades/twin/pantalonPLisadoGreen.jpg);
  background-position: center;
  background-size: cover;
}

.TwinPantalonCampanaDegradado {
  background-image: url(../img/novedades/twin/pantaloncampanadegradado.jpg);
  background-position: center;
  background-size: cover;
}

.TwinTopCutOutDegradado {
  background-image: url(../img/novedades/twin/topcutoutdegradado.jpg);
  background-position: center;
  background-size: cover;
}

.TwinPantalonWideRed {
  background-image: url(../img/novedades/twin/pantalonwideRed.jpg);
  background-position: center;
  background-size: cover;
}

.TwinCazadoraRed {
  background-image: url(../img/novedades/twin/cazadoraRed.jpg);
  background-position: center;
  background-size: cover;
}

.TwinChalecoVestirButtons {
  background-image: url(../img/novedades/twin/chalecoVestirButtons.jpg);
  background-position: center;
  background-size: cover;
}

.TwinPantalonCargoButtons {
  background-image: url(../img/novedades/twin/pantalonCargoButtons.jpg);
  background-position: center;
  background-size: cover;
}

.TwinSobrecamisaFlyRayas {
  background-image: url(../img/novedades/twin/sobrecamisaFlyRayas.jpg);
  background-position: center;
  background-size: cover;
}

.TwinJeansFlyRayas {
  background-image: url(../img/novedades/twin/jeansFlyRayas.jpg);
  background-position: center;
  background-size: cover;
}

.TwinPantalonCarpenter {
  background-image: url(../img/novedades/twin/pantalonCarpenter.jpg);
  background-position: center;
  background-size: cover;
}

.CazadoraCropped {
  background-image: url(../img/novedades/twin/cazadoraCropped.jpg);
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=novedades.css.map */