@import "nav";
@import "index"; 
@import "animaciones";
@import "contacto";
@import "footer";
@import "hombre";
@import "mujeres";
@import "novedades";
@import "sobrenosotros";
@import "tarjeta";
@import "titulos";
@import "variables";

