*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
@import url(https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&family=Rubik+Glitch&display=swap);

/* INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX  INDEX */

.tamIcono{
    width: 15px;
  
}
.bodyIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 250px 200px 70px;
    grid-template-areas: "nav nav" "header header" "main main" "footer footer" ;
}
nav{
     grid-area: nav;
     background-color: rgb(186, 175, 175);;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
}




.bodyIndex header{
    grid-area: header;
    background-image: url(../img/gente1_700x.jpg);
    background-position: center;
    
    background-size: cover;
    display: flex;
}
.titulo{
    height: 15%;    
    background-color: rgba(255, 255, 255, 0.354);
    border-radius: 30px;
    font-size: 34px;
}
.tituloHM{
    padding-right: 10px;
}


.bodyIndex main{
    grid-area: main;
    display: flex;
    flex-wrap: nowrap;
}
.contenedorH{
    width: 40%;
    background-image: url(../img/deco/gente2_65.jpg);
    background-size: cover;
    
}
.contenedorM{
background-image: url(../img/deco/mujeresdec_55.jpg);
background-size: cover;
width: 60%;

}
.contenedorH a{
    font-size: 150%;
    background-color: rgba(255, 255, 255, 0.354);
    border-radius: 30px;
    font-weight: 900;
    
}
.contenedorM a{
    font-size: 150%;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.354);
    border-radius: 30px;
}

footer{
    grid-area: footer;
    background-color: rgb(186, 175, 175);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer div{
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
ul{
    list-style: none;
    flex-direction: column;
    padding: 3px;
    }
ul li{ 
        display: inline-block;
        padding: 1px;
 }
@media (min-width:600px) {
    nav {
        font-size: 28px;
        
    }
    .tamIcono{
        width: 28px;
    }
    .bodyIndex{
        grid-template-rows:70px 400px 350px 90px ;
    }
    .titulo{
        font-size: 54px;
        
    }
    .contenedorH a{
        font-size: 45px;

    }
    .contenedorM a{
        font-size: 45px;
        padding-left: 23px;

    }
    footer div {
        font-size: 26px;
        flex-direction: row;
        justify-content: space-around;
    }
    footer div:nth-child(1) ul li:nth-child(3){
        padding-left: 30px;
    }
    .tamIconoR{
        width: 40px;
    }
}
@media (min-width:1024PX){
    nav {
        font-size: 45px;
        
    }
    .tamIcono{
        width: 37px;
    }
    .bodyIndex{
        grid-template-rows:120px 600px 400px 120px ;
    }
    .bodyIndex header{
        background-image: url(../img/deco/gente1.jpg);
    }
    .titulo{
        font-size: 70px !important;
        
    }
    .contenedorH a{
        font-size: 60px;

    }
    .contenedorM a{
        font-size: 60px;
        padding-left: 23px;

    }
    footer div {
        font-size: 38px;
    }
        
    footer div:nth-child(1) ul li:nth-child(3){
        padding-left: 40px;
    }
    .tamIconoR{
        width: 60px;
    }
    
}



/* NOVEDADES  NOVEDADES  NOVEDADES  NOVEDADES  NOVEDADES  NOVEDADES  NOVEDADES  NOVEDADES  NOVEDADES  NOVEDADES */
@media  ( min-width : 600px ){
    .headerNovedades{
        background-size: cover !important;
        align-items: flex-start !important;
    }
    .bodyNuevo{ 
        grid-template-rows: 80px 400px auto 80px !important;
    }
    .headerNovedades h1 {
        font-size: 50px !important;
    }
    .headerNovedades h2 {
        font-size: 45px !important;
    }
    .headerNovedades h3 {
        font-size: 40px !important;
    }
    .tarjeta{
        height: 300px !important;
    }
    .imgTwin{
        width: 60% !important;
    }
}
@media (min-width: 1024px){
    nav{
        justify-content: space-between !important;
    }
    ul{
        padding: 5px;
    }
    ul li {
        padding: 7px;
    }
    .seasonHoliday{
        flex-direction: row !important;
    }
    .videoHolCont{
        width: 30% ;
    }
    .contenedorTarjetaHoliday{
    
        display: flex;
        flex-wrap: nowrap !important;        
    }
    .contenedorTarjetaImgTwin{
        flex-direction: row !important;
    }
    .imgTwin{
        width: 90% !important;
        
    }
    .headerNovedades h1 {
        font-size: 60px !important;
    }
    .headerNovedades h2 {
        font-size: 55px !important;
    }
    .headerNovedades h3 {
        font-size: 50px !important;
    }
}
.bodyNuevo{ 
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 300px auto 70px;
    grid-template-areas: "nav nav" "header header" "main main" "footer footer" ;

}
.bodyNuevo nav{
    grid-area: nav;
}
.headerNovedades{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/novedades/Summer_collection_man.jpg);
    background-size:contain;
    align-items: center;
}
.bodyNuevo header h1{
       
    background-color: rgba(255, 255, 255, 0.354);
    border-radius: 30px;
    font-size: 34px;
    
}
.bodyNuevo header h2 {
       
    background-color: rgba(255, 255, 255, 0.354);
    border-radius: 30px;
    font-size: 24px;
}
.bodyNuevo header h3 {
    background-color: rgba(255, 255, 255, 0.354);
    border-radius: 30px;
    font-size: 20px;
}
.bodyNuevo main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}
.bodyNuevo footer{
    grid-area: footer;
}
.tituloSeasonCont{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(186, 175, 175);
    
}
.tituloSeason{
    font-size: 30px;
    background-color: rgb(186, 175, 175);
}
.videoHolCont{
    display: flex;
    justify-content: center;
}
.videoHol{
    width: 70%;
    
}
.seasonHoliday{
    display: flex;
    flex-direction: column;
}
.tarjeta{
    width: 40%;
    height: 200px;
    background-color: rgb(186, 175, 175);
    border-radius: 10px;
    margin: 10px;
    
    box-shadow: 2px 2px 7px 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}
.tarjeta__titulo{
    position: relative;
    text-align: center;
    color: black;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: solid 20px;
    
}
.tarjeta__img{
    height: 90%; 
}
.tarjeta__boton{
    position: relative;
    
    

}
.contenedorTarjetaHoliday{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color:white ;
}
.holCamisetaYellow{
background-image: url(../img/novedades/holiday/camisetaHolidayYellow.jpg);
background-position: center;
background-size: cover;
}
.holBanadorPrintFlores{
background-image: url(../img/novedades/holiday/banadorprintflores.jpg);
background-position: center;
background-size: cover;
}
.holBermudaVaquerasSFrotos{
background-image: url(../img/novedades/holiday/bermudaVaqueraSFrotos.jpg);
background-position: center;
background-size: cover;
}
.holGorraAzulDelavadaCalifornia{
background-image: url(../img/novedades/holiday/gorraAzulDelavadaCaliforniajpg.jpg);
background-position: center;
background-size: cover;
}
.holGorroBucketBordado{
background-image: url(../img/novedades/holiday/gorroBucketBordado.jpg);
background-position: center;
background-size: cover;
}
/* TWINS  TWINS  TWINS  TWINS  TWINS  TWINS  TWINS  TWINS  TWINS  TWINS  TWINS  TWINS  TWINS  TWINS */
.imgTwin{
    width: 70%;
}
.contenedorTarjetaTwin{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color:white ;
}
.contenedorTarjetaTwinAll{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color:white ;

}
.contenedorTarjetaImgTwin{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
     
}

.TwinBlusaPlisadaGreen{
    background-image: url(../img/novedades/twin/blusaPlisadaGreen.jpg);
    background-position: center;
    background-size: cover;
}
.TwinPantalonPlisadoGreen{
    background-image: url(../img/novedades/twin/pantalonPLisadoGreen.jpg);
    background-position: center;
    background-size: cover;
}
.TwinPantalonCampanaDegradado{
    background-image: url(../img/novedades/twin/pantaloncampanadegradado.jpg);
    background-position: center;
    background-size: cover;
}
.TwinTopCutOutDegradado{
    background-image: url(../img/novedades/twin/topcutoutdegradado.jpg);
    background-position: center;
    background-size: cover;
}
.TwinPantalonWideRed{
    background-image: url(../img/novedades/twin/pantalonwideRed.jpg);
    background-position: center;
    background-size: cover;
}
.TwinCazadoraRed{
    background-image: url(../img/novedades/twin/cazadoraRed.jpg);
    background-position: center;
    background-size: cover;
}
.TwinChalecoVestirButtons{
    background-image: url(../img/novedades/twin/chalecoVestirButtons.jpg);
    background-position: center;
    background-size: cover;
}
.TwinPantalonCargoButtons{
    background-image: url(../img/novedades/twin/pantalonCargoButtons.jpg);
    background-position: center;
    background-size: cover;
}
.TwinSobrecamisaFlyRayas{
    background-image: url(../img/novedades/twin/sobrecamisaFlyRayas.jpg);
    background-position: center;
    background-size: cover;
}
.TwinJeansFlyRayas{
    background-image: url(../img/novedades/twin/jeansFlyRayas.jpg);
    background-position: center;
    background-size: cover;
}
.TwinPantalonCarpenter{
    background-image: url(../img/novedades/twin/pantalonCarpenter.jpg);
    background-position: center;
    background-size: cover;
}
.CazadoraCropped{
    background-image: url(../img/novedades/twin/cazadoraCropped.jpg);
    background-position: center;
    background-size: cover;
}
/* HOMBRES  HOMBRES  HOMBRES  HOMBRES  HOMBRES  HOMBRES  HOMBRES  HOMBRES  HOMBRES  HOMBRES  HOMBRES  HOMBRES  HOMBRES  HOMBRES */
.bodyHombres{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 130px auto 60px;
    grid-template-areas: "nav nav" "header header" "main main" "footer footer";
}
.bodyHombres nav{
    grid-area: nav;
}
.bodyHombres header{
    background-color:rgb(95, 68, 68) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: header;
}
.bodyHombres main{
    grid-area: main;
}
.bodyHombres footer{
    grid-area: footer;

}
.bodyHombres header video{
    width: 50%;
    height: 100%;
}
.video3{
    width: 0% !important;
}
.video4{
    width: 0% !important;
}
.contenedorTarjetaH{
    background-color:rgb(95, 68, 68) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ramones{
    background-image: url(../img/prodHombres/buzos/BuzoRamonesNegro.jpg);
    background-position: center;
    background-size: cover;
}
.buzoGrey{
    background-image: url(../img/prodHombres/buzos/buzogris.jpg);
    background-position: center;
    background-size: cover;
}
.buzoInd{
    background-image: url(../img/prodHombres/buzos/BuzoIndustrialBlanco.jpg);
    background-position: center;
    background-size: cover;
}
.buzoNegro{
    background-image: url(../img/prodHombres/buzos/buzonegro.jpg);
    background-position: center;
    background-size: cover;

}
.jean1{
    background-image: url(../img/prodHombres/jeans/jean1.jpg);
    background-position: center;
    background-size: cover;

}
.jean2roto{
    background-image: url(../img/prodHombres/jeans/jean2roto.jpg);
    background-position: center;
    background-size: cover;

}
.jeanBlanco{
    background-image: url(../img/prodHombres/jeans/jeanBlanco.jpg);
    background-position: center;
    background-size: cover;

}
.jeanNegro{
    background-image: url(../img/prodHombres/jeans/jeanNegro.jpg);
    background-position: center;
    background-size: cover;

}
.jeanNegroRoto{
    background-image: url(../img/prodHombres/jeans/jeanNegroRoto.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: local;

}
@media (min-width: 480px){
    .bodyHombres .tarjeta{
        height: 300px !important;
    }
    .video3{
        width: 33.33% !important;
    }
    .bodyHombres header video{
        width: 33.33% ;
    }
    .bodyHombres{
        grid-template-rows: 80px auto;
    }
}
@media (min-width:600px){
    .bodyHombres{
        grid-template-rows: 80px auto;
    }
    .bodyHombres .tarjeta{
        height: 350px !important;
        background-size: contain !important;
    }
}
@media (min-width:1024px){
    .contenedorTarjetaH{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .bodyHombres .tarjeta{
        height: 350px !important;
        background-size: cover !important;
    }
}
/* MUJERES  MUJERES  MUJERES  MUJERES  MUJERES  MUJERES  MUJERES  MUJERES  MUJERES  MUJERES  MUJERES  MUJERES  MUJERES  MUJERES */
.bodyMujeres{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 120PX auto 60px;
    grid-template-areas: "nav nav" "header header" "main main" "footer footer";
}
.bodyMujeres nav{
    grid-area: nav;
}
.bodyMujeres header{
    background-color:rgb(189, 217, 228);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: header;
}
.bodyMujeres main{
    grid-area: main;
}
.bodyMujeres footer{
    grid-area: footer;

}
.bodyMujeres header video{
    width: 25%;
    height: 100%;
}
.video3m{
    width: 0% !important;
}
.contenedorTarjetaM{
    background-color:rgb(189, 217, 228);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.jeanBaggyWhite{
    background-image: url(../img/prodMujeres/jeans/jeanBaggyWhite.jpg);
    background-position: center;
    background-size: cover;
}
.jeanWideBlue{
    background-image: url(../img/prodMujeres/jeans/jeanWideBlue.jpg);
    background-position: center;
    background-size: cover;
}
.jeanRectosCanesu{
    background-image: url(../img/prodMujeres/jeans/rectosCanesu.jpg);
    background-position: center;
    background-size: cover;
}
.jeanRectosTB{
    background-image: url(../img/prodMujeres/jeans/rectosTirobajo.jpg);
    background-position: center;
    background-size: cover;
}
.jeanWideBlack{
    background-image: url(../img/prodMujeres/jeans/wideBlack.jpg);
    background-position: center;
    background-size: cover;
}
.vestidoCortoCrochetRayas{
    background-image: url(../img/prodMujeres/vestidos/cortoCrochetRayas.jpg);
    background-position: center;
    background-size: cover;
}
.vestidoCortoFrunces{
    background-image: url(../img/prodMujeres/vestidos/cortoFrunces.jpg);
    background-position: center;
    background-size: cover;
}
.vestidoCortoTirantesFrunce{
    background-image: url(../img/prodMujeres/vestidos/cortoTirantesFrunce.jpg);
    background-position: center;
    background-size: cover;
}
.vestidoMidiTexture{
    background-image: url(../img/prodMujeres/vestidos/miditexture.jpg);
    background-position: center;
    background-size: cover;
}
@media (min-width: 480px){
    .bodyMujeres .tarjeta{
        height: 300px !important;
    }
    .video3m{
        width: 16.66% !important;
    }
    .bodyMujeres header video{
        width: 16.66% ;
    }
    .bodyMujeres{
        grid-template-rows: 80px auto;
    }
}
@media (min-width:600px){
    .bodyMujeres{
        grid-template-rows: 80px auto;
    }
    .bodyMujeres .tarjeta{
        height: 350px !important;
        background-size: contain !important;
    }
    .tituloSeason{
        font-size: 40px;
    }
}
@media (min-width:1024px){
    .contenedorTarjetaM{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .bodyMujeres .tarjeta{
        height: 350px !important;
        background-size: cover !important;
    }
}
/* CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO  CONTACTO */
.bodyContacto{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 60px auto 70px;
    grid-template-areas: "nav nav" "main main" "footer footer";
    background-color: rgb(186, 175, 175);
}
.bodyContacto nav{
    grid-area: nav;
}
.bodyContacto main{
    grid-area: main;
    display: flex;
    flex-direction: column;

}
.ContactoDivs{
    height: 450px !important;
    padding: 50px;
    border-color: black;
    border-style: double;
    margin: 20px;
    background-color: rgba(202, 180, 180, 0.347);
    border-radius: 30px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.botonC{
    font-size: 24px;
    border-radius: 10px;
    
    padding: 10px;
   
}



.bodyContacto footer{
    grid-area: footer;
}
@media(min-width:400px){
    .ContactoDivs{
        font-size: 25px;
    }
    .botonC{
        font-size: 27px;
    }
}
@media(min-width:500px){
    .ContactoDivs{
        font-size: 30px;
    }
    
}
@media(min-width:700px){
    .ContactoDivs{
        font-size: 40px;
    }
}
@media(min-width:900px){
    .ContactoDivs{
        font-size: 50px;
    }
}
/* ANIMACIONES  ANIMACIONES  ANIMACIONES  ANIMACIONES  ANIMACIONES  ANIMACIONES  ANIMACIONES  ANIMACIONES  ANIMACIONES  ANIMACIONES  ANIMACIONES */
.titulo,
.titulo::after {
 padding: 5px 7px;
 font-size: 34px;
 background: linear-gradient(45deg, transparent 5%, #fffefe75 5%);
 border: 0;
 color: rgb(0, 0, 0);
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f61c;
 outline: transparent;
 position: relative;
 border-radius: 20px 20px;
}

.titulo::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, rgb(186, 175, 175) 3%, #05050558 5%, rgb(186, 175, 175) 5%);
 text-shadow: -3px -3px 0px #f81d052c, 3px 3px 0px #00e6f69b;
 clip-path: var(--slice-0);
}

.titulo:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}
.tarjeta__boton {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #212529;
    color: #212529;
  }
  .tarjeta__boton:hover {
    color: #fff;
  }
  .tarjeta__boton:hover:after {
    width: 100%;
  }
  .tarjeta__boton:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #212529;
  }
  /*  hover menu nav hover menu nav hover menu nav hover menu nav hover menu nav */
  .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #e1e1e13c;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 20px;
  }
  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(186, 175, 175);;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
    color: rgb(8, 8, 8);
  }
  .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }